<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/Main.css">
    <link rel="stylesheet" href="CSS/Home.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="profile">
            <div class="card">
                <div class="card-header">
                    <img class=" profile_img " src="https://source.unsplash.com/600x300/?student" alt="student dp">
                    <h3>
                        <%= username%>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="pr-1">Student ID: <b class="mb-0"> <%= id%> </b></div><br>
                    <div class="pr-1">Address: <b class="mb-0"> <%= address%> </b></div><br>
                    <div class="pr-1">Department: <b class="mb-0"> <%= department%> </b></div>
                </div>
            </div>
            <footer class="footer">
                <a href="/loggout">
                    <i class='fa fa-sign-out'></i>
                </a>
            </footer>
        </div>
        <div class="data">
            <div class="extradata">

            </div>
            <div class="Subject">
                <table>
                    <tr>
                        <th>NO.</th>
                        <th>Subject name </th>
                        <th>Exam Date</th>

                    </tr>
                    <% for(var i=0; i < course.length; i++) { %>
                        <tr>
                            <td>
                                <%= course[i].course_id  %>
                            </td>
                            <td>
                                <%= course[i]. course_name %>
                            </td>
                            <td>
                                <form method="post" action="/Home">
                                    <input type="hidden" name="id" value="<%= course[i]. course_name %>">
                                    <input type="submit" class=".btn" value="start exam">
                                </form>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
    </div>
</body>

</html>